<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <connectionStrings>
    <add name="votedataConnectionString" connectionString="Data Source=IDEA-PC\SQLSEVER;Initial Catalog=votedata;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="600" maxRequestLength="951200"

useFullyQualifiedRedirectUrl="true" minFreeThreads="8"

minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
  </system.web>
  <appSettings>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="dsn" value="Data Source=PC731\SQLEXPRESS;Initial Catalog=votedata;User ID=sa;Password=good6565"></add>

  </appSettings>

</configuration>
